 <div class="contents">
  <% @meats.each do |meat| %>
  <div class= meat_content>
      <span class="name">
        <%= meat.meat_brand %>
        <%# ここに登録した肉の情報のidを一つづつ入れる %>
      </span>
    </div>
  <% end %>
</div>