/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  box-sizing: border-box;
}


.header {
background-image:url("/assets/nikukemuri.jpg");
  background-size: cover;
  background-position: center 80%;  /* 画像を中央下部に配置 */

}


.header__bar.row {
display: flex;

height: 25vh;
justify-content: space-between;
align-items: center;
}
.header__bar img {
  width: 20vw; /* 画像の幅を調整 */
  height: 10vh; /* 画像の高さを指定（トリミング後の高さ） */
  object-fit: cover; /* 画像を縦横比を維持したまま表示領域にフィットさせる */
  object-position: center; /* 画像を表示領域の中央上部に配置 */
}

